In [1]:
import pandas

In [ ]:
df = pandas.read_parquet('arquivos/har/vra/')
#df = pandas.read_parquet('arquivos/res/vra/')

In [2]:
df = pandas.read_parquet('arquivos/har/empresas/')

In [4]:
df

,id,nome,apelido,iata,icao,indicativo_chamada,pais,ativo
0,2,135 Airways,None,None,GNL,GENERAL,United States,N
1,3,1Time Airline,None,1T,RNX,NEXTIME,South Africa,S
2,4,2 Sqn No 1 Elementary Flying Training School,None,None,WYT,None,United Kingdom,N
3,5,213 Flight Unit,None,None,TFU,None,Russia,N
4,6,223 Flight Unit State Airline,None,None,CHD,CHKALOVSK-AVIA,Russia,N
...,...,...,...,...,...,...,...,...
6155,21248,GX Airlines,None,None,CBG,SPRAY,China,S
6156,21251,Lynx Aviation (L3/SSX),None,None,SSX,Shasta,United States,N
6157,21268,Jetgo Australia,None,JG,None,None,Australia,S
6158,21270,Air Carnival,None,2S,None,None,India,S
6159,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,S

In [8]:
df.index[df['icao'] == 'VRN'].to_list()[0]

5349

In [9]:
df.iat[df.index[df['icao'] == 'VRN'].to_list()[0], 7] = 'N'

In [10]:
df[df['icao'] == 'VRN']

,id,nome,apelido,iata,icao,indicativo_chamada,pais,ativo
5349,5368,VRG Linhas Aereas,Varig,RG,VRN,VARIG,Brazil,N

In [16]:
df.loc[len(df.index)] = [999999, 'Varig Linhas Aereas', 'Varig', 'RG', 'VRG', 'VARIG', 'Brazil', 'N']

In [17]:
df[df['icao'] == 'VRG']

,id,nome,apelido,iata,icao,indicativo_chamada,pais,ativo
6162,999999,Varig Linhas Aereas,Varig,RG,VRG,VARIG,Brazil,N

In [ ]:
df_icao_empresa_aerea = df[['icao_empresa_aerea']].groupby('icao_empresa_aerea').count()

df_icao_empresa_aerea

In [ ]:
df[df['icao_empresa_aerea'] == '010']

In [ ]:
df['icao_empresa_aerea'] = df['icao_empresa_aerea'].replace('010', None)
df[df['icao_empresa_aerea'] == '010']

In [ ]:
df[df['icao_empresa_aerea'] == '060']

In [ ]:
df_numero_voo = df[['numero_voo']].groupby('numero_voo').count()
df_numero_voo

In [ ]:
df_numero_voo.to_csv('numero_voo.csv')

In [ ]:
df[df['numero_voo'] == 'Z9969']

In [ ]:
df_codigo_autorizacao = df[['codigo_autorizacao']].groupby('codigo_autorizacao').count()
df_codigo_autorizacao

In [ ]:
df['codigo_autorizacao'] = df['codigo_autorizacao'].replace(
    [
        '0.0',
        '1.0',
        '2.0',
        '3.0',
        '4.0',
        '5.0',
        '6.0',
        '7.0',
        '8.0',
        '9.0'
    ],
    [
        '0',
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9'
    ]
)
df_codigo_autorizacao

In [ ]:
df_codigo_autorizacao = df[['codigo_autorizacao']].groupby('codigo_autorizacao').count()
df_codigo_autorizacao

In [ ]:
df[df['codigo_autorizacao'] == '?'].codigo_autorizacao

In [ ]:
df[df['codigo_autorizacao'] == '2.0']

In [ ]:
df_codigo_tipo_linha = df[['codigo_tipo_linha']].groupby('codigo_tipo_linha').count()
df_codigo_tipo_linha

In [ ]:
df_icao_aerodromo_origem = df[['icao_aerodromo_origem']].groupby('icao_aerodromo_origem', as_index=False).count()
df_icao_aerodromo_origem

In [ ]:
df_icao_aerodromo_origem.to_csv('icao_aerodromo_origem.csv')

In [ ]:
df_aerodromos = pandas.read_parquet('arquivos/har/aerodromos/')
df_aerodromos

In [ ]:
nao_encontrados = df_icao_aerodromo_origem.rename(columns={'icao_aerodromo_origem': 'icao'}).merge(df_aerodromos[['id', 'icao']], how='left', suffixes=('_left', '_right'))
nao_encontrados

In [ ]:
nao_encontrados_final = nao_encontrados[nao_encontrados['id'].isna()][['icao']]
nao_encontrados_final

In [ ]:
nao_encontrados_final.to_csv('nao_encontrados_origem.csv')

In [ ]:
df[df['icao_aerodromo_origem'] == '0GMM']

In [ ]:
df[df['icao_aerodromo_origem'] == '????']

In [ ]:
df[df['icao_aerodromo_origem'] == 'X']

In [ ]:
df[df['icao_aerodromo_origem'] == '0']

In [ ]:
df_icao_aerodromo_destino = df[['icao_aerodromo_destino']].groupby('icao_aerodromo_destino', as_index=False).count()
df_icao_aerodromo_destino

In [ ]:
df_icao_aerodromo_destino.to_csv('icao_aerodromo_destino.csv')

In [ ]:
df[df['icao_aerodromo_destino'] == '????']

In [ ]:
nao_encontrados = df_icao_aerodromo_destino.rename(columns={'icao_aerodromo_destino': 'icao'}).merge(df_aerodromos[['id', 'icao']], how='left', suffixes=('_left', '_right'))
nao_encontrados

In [ ]:
nao_encontrados_final = nao_encontrados[nao_encontrados['id'].isna()][['icao']]
nao_encontrados_final

In [ ]:
nao_encontrados_final.to_csv('nao_encontrados_destino.csv')

In [ ]:
df_data_partida_prevista = df[['data_partida_prevista']].groupby('data_partida_prevista').count()
df_data_partida_prevista

In [ ]:
df[df['data_partida_prevista'] == 'Microsoft.SqlServer.Dts.Pipeline.BlobColumn']

In [ ]:
df_situacao_voo = df[['situacao_voo']].groupby('situacao_voo').count()
df_situacao_voo

In [ ]:
df[df['situacao_voo'] == 'Microsoft.SqlServer.Dts.Pipeline.BlobColumn']

In [ ]:
df_codigo_justificativa = df[['codigo_justificativa']].groupby('codigo_justificativa').count()
df_codigo_justificativa

In [ ]:
df_codigo_justificativa.to_csv('codigo_justificativa.csv')

In [ ]:
df[df['codigo_justificativa'] == '??']

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("teste").getOrCreate()

In [2]:
df=spark.read.parquet('arquivos/res/vra/vra_final.snappy.parquet')
df.createOrReplaceTempView('vra')

In [3]:
df_aerodromos=spark.read.parquet('arquivos/har/aerodromos/aerodromos.snappy.parquet')
df_aerodromos.createOrReplaceTempView('aerodromos')

In [6]:
df_empresas=spark.read.parquet('arquivos/har/empresas/empresas.snappy.parquet')
df_empresas.createOrReplaceTempView('empresas')

In [7]:
df_empresas.show()

+---+--------------------+-------+----+----+------------------+--------------+-----+
| id|                nome|apelido|iata|icao|indicativo_chamada|          pais|ativo|
+---+--------------------+-------+----+----+------------------+--------------+-----+
|  2|         135 Airways|   null|null| GNL|           GENERAL| United States|    N|
|  3|       1Time Airline|   null|  1T| RNX|           NEXTIME|  South Africa|    S|
|  4|2 Sqn No 1 Elemen...|   null|null| WYT|              null|United Kingdom|    N|
|  5|     213 Flight Unit|   null|null| TFU|              null|        Russia|    N|
|  6|223 Flight Unit S...|   null|null| CHD|    CHKALOVSK-AVIA|        Russia|    N|
|  7|   224th Flight Unit|   null|null| TTF|        CARGO UNIT|        Russia|    N|
|  8|         247 Jet Ltd|   null|null| TWF|      CLOUD RUNNER|United Kingdom|    N|
|  9|         3D Aviation|   null|null| SEC|           SECUREX| United States|    N|
| 10|         40-Mile Air|   null|  Q5| MLA|          MILE-AIR| United States|    S|
| 11|              4D Air|   null|null| QRT|           QUARTET|      Thailand|    N|
| 12|611897 Alberta Li...|   null|null| THD|             DONUT|        Canada|    N|
| 13|    Ansett Australia|   null|  AN| AAA|            ANSETT|     Australia|    S|
| 14|Abacus International|   null|  1B|null|              null|     Singapore|    S|
| 15|     Abelag Aviation|   null|  W9| AAB|               ABG|       Belgium|    N|
| 16|      Army Air Corps|   null|null| AAC|           ARMYAIR|United Kingdom|    N|
| 17|Aero Aviation Cen...|   null|null| AAD|           SUNRISE|        Canada|    N|
| 18|Aero Servicios Ej...|   null|null| SII|            ASEISA|        Mexico|    N|
| 19|         Aero Biniza|   null|null| BZS|            BINIZA|        Mexico|    N|
| 20|       Aero Albatros|   null|null| ABM|   ALBATROS ESPANA|         Spain|    N|
| 21|          Aigle Azur|   null|  ZI| AAF|        AIGLE AZUR|        France|    S|
+---+--------------------+-------+----+----+------------------+--------------+-----+
only showing top 20 rows

In [ ]:
df.show(truncate=False)

In [ ]:
df_aerodromos.show(truncate=False)

In [ ]:
# Visualização home page
query = (
    ' SELECT ano_voo, COUNT(1) as quantidade_voos'
    ' FROM vra'
    ' GROUP BY ano_voo'
    ' ORDER BY ano_voo ASC'
)
resultado = spark.sql(query)
resultado.show()

In [ ]:
resultado_dict = resultado.toPandas().to_dict(orient='list')
resultado_dict

In [ ]:
print('x: {0}'.format(resultado_dict['ano_voo']).replace('\'', ''))

In [ ]:
str(resultado_dict['ano_voo'])

In [ ]:
# Visualização home page
df.createOrReplaceTempView('vra')
query = (
    ' SELECT icao_aerodromo_origem '
    ' FROM vra'
    ' WHERE icao_aerodromo_origem = "????"'
)
resultado = spark.sql(query)
resultado.show()

In [ ]:
# Visualização home page
df.createOrReplaceTempView('vra')
query = (
    ' SELECT data_partida_prevista '
    ' FROM vra'
    ' WHERE data_partida_prevista = "Microsoft.SqlServer.Dts.Pipeline.BlobColumn"'
)
resultado = spark.sql(query)
resultado.show()

In [ ]:
# Visualização home page
query = (
    ' SELECT COUNT(1) as quantidade_voos'
    ' FROM vra'
)
resultado = spark.sql(query)
resultado.show()

In [ ]:
query = (
    ' SELECT icao_aerodromo_origem, icao_aerodromo_destino,  COUNT(1) as quantidade_voos'
    ' FROM vra'
    ' GROUP BY icao_aerodromo_origem, icao_aerodromo_destino'
    ' ORDER BY quantidade_voos DESC'
)
rotas = spark.sql(query)
rotas.createOrReplaceTempView('rotas')
rotas.show()

In [ ]:
query = (
    ' SELECT aerodromos.nome as aerodromo_origem, aerodromos.municipio as municipio_origem, icao_aerodromo_destino, quantidade_voos'
    ' FROM rotas'
    ' INNER JOIN aerodromos'
    ' ON rotas.icao_aerodromo_origem = aerodromos.icao'
    ' ORDER BY quantidade_voos DESC '
)
resultado = spark.sql(query)
resultado.createOrReplaceTempView('rotas_origem')
resultado.show()

In [ ]:
query = (
    ' SELECT aerodromo_origem, municipio_origem, aerodromos.nome as aerodromo_destino, aerodromos.municipio as municipio_destino, quantidade_voos'
    ' FROM rotas_origem'
    ' INNER JOIN aerodromos'
    ' ON rotas_origem.icao_aerodromo_destino = aerodromos.icao'
    ' ORDER BY quantidade_voos DESC '
    ' LIMIT 20'
)
resultado = spark.sql(query)
resultado.createOrReplaceTempView('rotas_destino')
resultado.show()

In [ ]:
resultado.toPandas().to_dict(orient='list')

In [ ]:
query = (
    ' SELECT icao_aerodromo_origem, COUNT(1) as decolagens'
    ' FROM vra'
    ' GROUP BY icao_aerodromo_origem'
    ' ORDER BY decolagens DESC'
)
decolagens = spark.sql(query)
decolagens.createOrReplaceTempView('decolagens')
decolagens.show()

In [ ]:
query = (
    ' SELECT icao_aerodromo_destino, COUNT(1) as aterrisagens'
    ' FROM vra'
    ' GROUP BY icao_aerodromo_destino'
    ' ORDER BY aterrisagens DESC'
)
aterrisagens = spark.sql(query)
aterrisagens.createOrReplaceTempView('aterrisagens')
aterrisagens.show()

In [ ]:
query = (
    ' SELECT decolagens.icao_aerodromo_origem as aerodromo, decolagens, aterrisagens, (decolagens+aterrisagens) as total'
    ' FROM decolagens'
    ' INNER JOIN aterrisagens'
    ' ON decolagens.icao_aerodromo_origem = aterrisagens.icao_aerodromo_destino'
    ' ORDER BY total DESC'
)
aerodromos_mais_usados = spark.sql(query)
aerodromos_mais_usados.createOrReplaceTempView('aerodromos_mais_usados')
aerodromos_mais_usados.show()

In [ ]:
query = (
    ' SELECT nome, municipio, decolagens, aterrisagens, total'
    ' FROM aerodromos_mais_usados'
    ' INNER JOIN aerodromos'
    ' ON aerodromo = icao'
    ' AND pais_iso = "BR"'
    ' ORDER BY total DESC'
    ' LIMIT 20'
)
aerodromos_mais_usados_final = spark.sql(query)
aerodromos_mais_usados_final.createOrReplaceTempView('aerodromos_mais_usados_final')
aerodromos_mais_usados_final.show()

In [ ]:
# Visualização home page
query = (
    ' SELECT ano_voo, COUNT(1) as quantidade_voos'
    ' FROM vra'
    ' GROUP BY ano_voo'
    ' ORDER BY ano_voo ASC'
)
resultado = spark.sql(query)
resultado.show()

In [ ]:
dict = resultado.toPandas().to_dict(orient="list")

In [ ]:
keys = list(dict.keys())

In [ ]:
keys

In [ ]:
for i in range(len(dict[keys[0]])):
    string = ''
    for key in keys:
        string += '{0} '.format(dict[key][i])
    print(string)

In [ ]:
# Visualização home page
query = (
    ' SELECT *'
    ' FROM empresas'
)
resultado = spark.sql(query)
resultado.show()