In [1]:
import pandas

In [103]:
# df = pandas.read_parquet('arquivos/har/vra/')
df = pandas.read_parquet('arquivos/res/vra/')

In [104]:
df

,icao_empresa_aerea,numero_voo,codigo_autorizacao,codigo_tipo_linha,icao_aerodromo_origem,icao_aerodromo_destino,data_partida_prevista,data_partida_real,data_chegada_prevista,data_chegada_real,situacao_voo,codigo_justificativa,arquivo_origem
0,TAM,4660,0,R,SBCX,SBCT,01/01/2000 05:45,None,01/01/2000 06:37,None,CANCELADO,XS,vra_200001.csv
1,VRG,8710,0,I,MMMX,SBEG,01/01/2000 19:00,None,02/01/2000 01:25,None,REALIZADO,None,vra_200001.csv
2,BLC,8250,0,N,SBBR,SBGO,01/01/2000 20:04,None,01/01/2000 20:30,None,REALIZADO,None,vra_200001.csv
3,BLC,241,9,R,SBSP,SBKP,None,01/01/2000 22:06,None,01/01/2000 22:45,REALIZADO,None,vra_200001.csv
4,RSL,7161,9,R,SBRJ,SBCF,None,01/01/2000 10:46,None,01/01/2000 11:35,REALIZADO,None,vra_200001.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22229744,EDR,0624,7,I,SBBE,SMJP,2022-07-29 15:10:00,2022-07-29 15:20:00,2022-07-29 16:50:00,2022-07-29 17:05:00,REALIZADO,None,vra_202207.csv
22229745,ETH,0506,0,I,SBGR,SAEZ,2022-07-04 17:30:00,2022-07-04 18:05:00,2022-07-04 19:25:00,2022-07-04 21:07:00,REALIZADO,None,vra_202207.csv
22229746,ETH,0506,0,I,SBGR,SAEZ,2022-07-06 17:30:00,2022-07-06 17:44:00,2022-07-06 19:25:00,2022-07-06 20:32:00,REALIZADO,None,vra_202207.csv
22229747,ETH,0506,0,I,SBGR,SAEZ,2022-07-08 17:30:00,2022-07-08 17:40:00,2022-07-08 19:25:00,2022-07-08 20:36:00,REALIZADO,None,vra_202207.csv
22229748,LAN,0754,0,I,SCEL,SBGR,2022-07-17 17:11:00,2022-07-17 17:19:00,2022-07-17 21:00:00,2022-07-17 21:02:00,REALIZADO,None,vra_202207.csv

In [105]:
df_icao_empresa_aerea = df[['icao_empresa_aerea']].groupby('icao_empresa_aerea').count()

df_icao_empresa_aerea

Empty DataFrame
Columns: []
Index: [AAF, AAL, AAR, ABD, ABJ, ABR, ABZ, ACA, ACL, ACN, ADB, AEA, AEY, AFL, AFR, AJB, ALV, AMG, AMP, AMS, AMX, ANS, APP, APW, ARE, ARG, ARL, ARU, ASO, ATG, AUT, AUZ, AVA, AWC, AWE, AXY, AZA, AZN, AZP, AZU, AZV, BAW, BCA, BET, BGA, BLC, BOL, BOV, BQB, BRB, BSC, BSI, CCA, CDN, CFG, CIU, CJT, CKS, CLX, CMP, COA, CQB, CRX, CSB, CUB, CVK, CWC, CXB, DAL, DJT, DLH, DRD, DSM, DTA, EAE, EAL, ECO, EDR, EDW, EEA, EIA, ELY, ETD, ETH, ETR, EUS, EUU, EVE, FBZ, FDX, FLO, FWI, FYW, GCA, GEC, GIA, GL0, GL2, GLG, GLO, ...]

[272 rows x 0 columns]

In [106]:
df[df['icao_empresa_aerea'] == '010']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [107]:
df['icao_empresa_aerea'] = df['icao_empresa_aerea'].replace('010', None)
df[df['icao_empresa_aerea'] == '010']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [108]:
df[df['icao_empresa_aerea'] == '060']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [109]:
df_numero_voo = df[['numero_voo']].groupby('numero_voo').count()
df_numero_voo

Empty DataFrame
Columns: []
Index: [0, 0000, 0001, 0002, 0003, 0004, 0005, 0006, 0007, 0008, 0009, 0010, 0011, 0012, 0013, 0014, 0015, 0016, 0017, 0018, 0019, 0021, 0022, 0023, 0024, 0025, 0026, 0027, 0028, 0029, 0030, 0031, 0032, 0033, 0034, 0035, 0036, 0037, 0038, 0039, 0040, 0041, 0042, 0043, 0044, 0045, 0046, 0047, 0048, 0049, 0050, 0051, 0052, 0053, 0054, 0055, 0056, 0057, 0058, 0059, 0060, 0061, 0062, 0063, 0064, 0065, 0066, 0067, 0068, 0069, 0070, 0071, 0072, 0073, 0074, 0075, 0076, 0077, 0078, 0079, 0080, 0081, 0082, 0083, 0084, 0085, 0086, 0087, 0088, 0089, 0090, 0091, 0092, 0093, 0094, 0095, 0096, 0097, 0098, 0099, ...]

[10814 rows x 0 columns]

In [110]:
df_numero_voo.to_csv('numero_voo.csv')

PermissionError: [Errno 13] Permission denied: 'numero_voo.csv'

In [111]:
df[df['numero_voo'] == 'Z9969']

,icao_empresa_aerea,numero_voo,codigo_autorizacao,codigo_tipo_linha,icao_aerodromo_origem,icao_aerodromo_destino,data_partida_prevista,data_partida_real,data_chegada_prevista,data_chegada_real,situacao_voo,codigo_justificativa,arquivo_origem
20030085,PAM,Z9969,1,N,SWPI,SBEG,None,None,2019-09-29 09:05:00,2019-09-29 09:05:00,REALIZADO,None,vra_201909.csv

In [112]:
df_codigo_autorizacao = df[['codigo_autorizacao']].groupby('codigo_autorizacao').count()
df_codigo_autorizacao

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, I, O, S, U]

In [17]:
df['codigo_autorizacao'] = df['codigo_autorizacao'].replace(
    [
        '0.0',
        '1.0',
        '2.0',
        '3.0',
        '4.0',
        '5.0',
        '6.0',
        '7.0',
        '8.0',
        '9.0'
    ],
    [
        '0',
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9'
    ]
)
df_codigo_autorizacao

Empty DataFrame
Columns: []
Index: [0, 0.0, 1, 1.0, 2, 2.0, 3, 3.0, 4, 4.0, 5, 5.0, 6, 6.0, 7, 7.0, 8, 8.0, 9, 9.0, ?, A, B, C, D, E, I, O, S, U]

In [113]:
df_codigo_autorizacao = df[['codigo_autorizacao']].groupby('codigo_autorizacao').count()
df_codigo_autorizacao

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, I, O, S, U]

In [114]:
df[df['codigo_autorizacao'] == '?']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [115]:
df[df['codigo_autorizacao'] == '2.0']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [116]:
df_codigo_tipo_linha = df[['codigo_tipo_linha']].groupby('codigo_tipo_linha').count()
df_codigo_tipo_linha

Empty DataFrame
Columns: []
Index: [0, 1, 3, 4, 5, 6, 8, 9, C, E, G, H, I, L, N, R, S, X]

In [117]:
df_icao_aerodromo_origem = df[['icao_aerodromo_origem']].groupby('icao_aerodromo_origem', as_index=False).count()
df_icao_aerodromo_origem

     icao_aerodromo_origem
0                        0
1                     BIKF
2                     BSFZ
3                     CCLP
4                     CYHM
...                    ...
1086                  ZSJN
1087                  ZSNJ
1088                  ZSPD
1089                  ZSQD
1090                  ZUUU

[1091 rows x 1 columns]

In [118]:
df_icao_aerodromo_origem.to_csv('icao_aerodromo_origem.csv')

In [71]:
df_aerodromos = pandas.read_parquet('arquivos/har/aerodromos/')
df_aerodromos

,id,icao,nome,latitude_graus,longitude_graus,elevacao_pes,continente,pais_iso,regiao_iso,municipio,iata
0,6523,00A,Total Rf Heliport,40.070801,-74.933601,11.0,None,US,US-PA,Bensalem,None
1,323361,00AA,Aero B Ranch Airport,38.704022,-101.473911,3435.0,None,US,US-KS,Leoti,None
2,6524,00AK,Lowell Field,59.947733,-151.692524,450.0,None,US,US-AK,Anchor Point,None
3,6525,00AL,Epps Airpark,34.864799,-86.770302,820.0,None,US,US-AL,Harvest,None
4,6526,00AR,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,None,US,US-AR,Newport,None
...,...,...,...,...,...,...,...,...,...,...,...
73393,46378,ZZ-0001,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,None
73394,307326,ZZ-0002,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,AF,TF,TF-U-A,Grande Glorieuse,None
73395,346788,ZZ-0003,Fainting Goat Airport,32.110587,-97.356312,690.0,None,US,US-TX,Blum,None
73396,342102,ZZZW,Scandium City Heliport,69.355287,-138.939310,4.0,None,CA,CA-YT,(Old) Scandium City,ZYW
73397,313629,ZZZZ,Satsuma Iōjima Airport,30.784722,130.270556,338.0,AS,JP,JP-46,Mishima,None

In [119]:
nao_encontrados = df_icao_aerodromo_origem.rename(columns={'icao_aerodromo_origem': 'icao'}).merge(df_aerodromos[['id', 'icao']], how='left', suffixes=('_left', '_right'))
nao_encontrados

      icao       id
0        0      NaN
1     BIKF    123.0
2     BSFZ      NaN
3     CCLP      NaN
4     CYHM   1763.0
...    ...      ...
1086  ZSJN  27219.0
1087  ZSNJ  27221.0
1088  ZSPD  27223.0
1089  ZSQD      NaN
1090  ZUUU  27230.0

[1091 rows x 2 columns]

In [120]:
nao_encontrados_final = nao_encontrados[nao_encontrados['id'].isna()][['icao']]
nao_encontrados_final

      icao
0        0
2     BSFZ
3     CCLP
66    FAJS
94    GOOO
...    ...
1046  TTPS
1049  UCFM
1062  VOGO
1072  WKOS
1089  ZSQD

[103 rows x 1 columns]

In [121]:
nao_encontrados_final.to_csv('nao_encontrados_origem.csv')

PermissionError: [Errno 13] Permission denied: 'nao_encontrados_origem.csv'

In [122]:
df[df['icao_aerodromo_origem'] == '0GMM']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [123]:
df[df['icao_aerodromo_origem'] == '????']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [18]:
df[df['icao_aerodromo_origem'] == 'X']

,icao_empresa_aerea,numero_voo,codigo_autorizacao,codigo_tipo_linha,icao_aerodromo_origem,icao_aerodromo_destino,data_partida_prevista,data_partida_real,data_chegada_prevista,data_chegada_real,situacao_voo,codigo_justificativa,arquivo_origem
3749981,TAM,9551,7,I,X,SBGR,None,19/04/2004 14:54,None,20/04/2004 04:20,REALIZADO,None,vra_200404.csv

In [124]:
df[df['icao_aerodromo_origem'] == '0']

,icao_empresa_aerea,numero_voo,codigo_autorizacao,codigo_tipo_linha,icao_aerodromo_origem,icao_aerodromo_destino,data_partida_prevista,data_partida_real,data_chegada_prevista,data_chegada_real,situacao_voo,codigo_justificativa,arquivo_origem
416406,TAM,3499,4,R,0,SBSP,None,19/06/2000 12:28,None,19/06/2000 14:05,REALIZADO,None,vra_200006.csv
438236,TAM,3499,4,R,0,SBSP,None,28/06/2000 11:55,None,28/06/2000 13:33,REALIZADO,None,vra_200006.csv
735895,TAM,9520,6,R,0,GVAC,None,31/10/2000 08:50,None,31/10/2000 12:45,REALIZADO,None,vra_200010.csv

In [125]:
df_icao_aerodromo_destino = df[['icao_aerodromo_destino']].groupby('icao_aerodromo_destino', as_index=False).count()
df_icao_aerodromo_destino

     icao_aerodromo_destino
0
1                      ABEG
2                      ABKP
3                      AGAS
4                      BBBV
...                     ...
1114                   ZSAM
1115                   ZSHC
1116                   ZSNJ
1117                   ZSQD
1118                   ZUUU

[1119 rows x 1 columns]

In [21]:
df_icao_aerodromo_destino.to_csv('icao_aerodromo_destino.csv')

In [126]:
df[df['icao_aerodromo_destino'] == '????']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [127]:
nao_encontrados = df_icao_aerodromo_destino.rename(columns={'icao_aerodromo_destino': 'icao'}).merge(df_aerodromos[['id', 'icao']], how='left', suffixes=('_left', '_right'))
nao_encontrados

      icao       id
0               NaN
1     ABEG      NaN
2     ABKP      NaN
3     AGAS      NaN
4     BBBV      NaN
...    ...      ...
1114  ZSAM  27215.0
1115  ZSHC  27218.0
1116  ZSNJ  27221.0
1117  ZSQD      NaN
1118  ZUUU  27230.0

[1119 rows x 2 columns]

In [128]:
nao_encontrados_final = nao_encontrados[nao_encontrados['id'].isna()][['icao']]
nao_encontrados_final

      icao
0
1     ABEG
2     ABKP
3     AGAS
4     BBBV
...    ...
1077  UCFM
1092  VOGO
1105  XBGR
1111  ZBSL
1117  ZSQD

[105 rows x 1 columns]

In [93]:
nao_encontrados_final.to_csv('nao_encontrados_destino.csv')

In [129]:
df_data_partida_prevista = df[['data_partida_prevista']].groupby('data_partida_prevista').count()
df_data_partida_prevista

Empty DataFrame
Columns: []
Index: [01/01/2000 00:00, 01/01/2000 00:12, 01/01/2000 00:15, 01/01/2000 00:20, 01/01/2000 00:25, 01/01/2000 00:30, 01/01/2000 00:35, 01/01/2000 00:40, 01/01/2000 00:45, 01/01/2000 00:50, 01/01/2000 00:55, 01/01/2000 01:00, 01/01/2000 01:05, 01/01/2000 01:06, 01/01/2000 01:10, 01/01/2000 01:15, 01/01/2000 01:20, 01/01/2000 01:30, 01/01/2000 01:35, 01/01/2000 01:40, 01/01/2000 01:50, 01/01/2000 02:00, 01/01/2000 02:05, 01/01/2000 02:10, 01/01/2000 02:15, 01/01/2000 02:30, 01/01/2000 02:35, 01/01/2000 02:40, 01/01/2000 02:50, 01/01/2000 02:55, 01/01/2000 03:00, 01/01/2000 03:02, 01/01/2000 03:04, 01/01/2000 03:05, 01/01/2000 03:10, 01/01/2000 03:14, 01/01/2000 03:15, 01/01/2000 03:16, 01/01/2000 03:20, 01/01/2000 03:28, 01/01/2000 03:30, 01/01/2000 03:32, 01/01/2000 03:35, 01/01/2000 03:40, 01/01/2000 03:50, 01/01/2000 03:54, 01/01/2000 04:00, 01/01/2000 04:02, 01/01/2000 04:14, 01/01/2000 04:20, 01/01/2000 04:40, 01/01/2000 04:46, 01/01/2000 04:53, 01/01/2000 04:55, 01/01/2000 04:56, 01/01/2000 05:00, 01/01/2000 05:04, 01/01/2000 05:10, 01/01/2000 05:15, 01/01/2000 05:20, 01/01/2000 05:25, 01/01/2000 05:26, 01/01/2000 05:30, 01/01/2000 05:32, 01/01/2000 05:40, 01/01/2000 05:42, 01/01/2000 05:45, 01/01/2000 05:50, 01/01/2000 05:55, 01/01/2000 06:00, 01/01/2000 06:02, 01/01/2000 06:05, 01/01/2000 06:06, 01/01/2000 06:08, 01/01/2000 06:10, 01/01/2000 06:14, 01/01/2000 06:15, 01/01/2000 06:20, 01/01/2000 06:24, 01/01/2000 06:25, 01/01/2000 06:28, 01/01/2000 06:30, 01/01/2000 06:32, 01/01/2000 06:34, 01/01/2000 06:35, 01/01/2000 06:36, 01/01/2000 06:38, 01/01/2000 06:39, 01/01/2000 06:40, 01/01/2000 06:42, 01/01/2000 06:44, 01/01/2000 06:45, 01/01/2000 06:46, 01/01/2000 06:50, 01/01/2000 06:52, 01/01/2000 06:53, 01/01/2000 06:54, 01/01/2000 06:55, 01/01/2000 06:57, 01/01/2000 06:58, ...]

[4951675 rows x 0 columns]

In [130]:
df[df['data_partida_prevista'] == 'Microsoft.SqlServer.Dts.Pipeline.BlobColumn']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [131]:
df_situacao_voo = df[['situacao_voo']].groupby('situacao_voo').count()
df_situacao_voo

Empty DataFrame
Columns: []
Index: [CANCELADO, NÃO INFORMADO, REALIZADO]

In [132]:
df[df['situacao_voo'] == 'Microsoft.SqlServer.Dts.Pipeline.BlobColumn']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [133]:
df_codigo_justificativa = df[['codigo_justificativa']].groupby('codigo_justificativa').count()
df_codigo_justificativa

Empty DataFrame
Columns: []
Index: [00, 10, 12, 13, 14, 16, 19, 30, 50, 55, 74, 94, AA, AE, AF, AG, AI, AJ, AM, AR, AS, AT, AW, AX, BG, CP, DA, DF, DG, DT, EF, FP, FR, FT, FU, GB, GE, GF, GL, GS, H, HA, HB, HC, HD, HI, HS, HT, IR, M, MA, MD, MI, MN, MS, MX, MZ, N, NH, NX, OA, OT, PD, PH, R, RA, RI, RL, RM, RO, RT, S, ST, T, TA, TC, TD, TM, TN, TW, TX, TZ, VE, VI, VM, VR, W0, WA, WG, WI, WO, WP, WR, WS, WT, X, X0, X8, XA, XB, ...]

[115 rows x 0 columns]

In [27]:
df_codigo_justificativa.to_csv('codigo_justificativa.csv')

In [134]:
df[df['codigo_justificativa'] == '??']

Empty DataFrame
Columns: [icao_empresa_aerea, numero_voo, codigo_autorizacao, codigo_tipo_linha, icao_aerodromo_origem, icao_aerodromo_destino, data_partida_prevista, data_partida_real, data_chegada_prevista, data_chegada_real, situacao_voo, codigo_justificativa, arquivo_origem]
Index: []

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("teste").getOrCreate()

In [2]:
df=spark.read.parquet('arquivos/res/vra/vra_final.snappy.parquet')

In [3]:
df.show(truncate=False)

+------------------+----------+------------------+-----------------+---------------------+----------------------+---------------------+-----------------+---------------------+-----------------+------------+--------------------+--------------+
|icao_empresa_aerea|numero_voo|codigo_autorizacao|codigo_tipo_linha|icao_aerodromo_origem|icao_aerodromo_destino|data_partida_prevista|data_partida_real|data_chegada_prevista|data_chegada_real|situacao_voo|codigo_justificativa|arquivo_origem|
+------------------+----------+------------------+-----------------+---------------------+----------------------+---------------------+-----------------+---------------------+-----------------+------------+--------------------+--------------+
|TAM               |4660      |0                 |R                |SBCX                 |SBCT                  |01/01/2000 05:45     |null             |01/01/2000 06:37     |null             |CANCELADO   |XS                  |vra_200001.csv|
|VRG               |8710      |0                 |I                |MMMX                 |SBEG                  |01/01/2000 19:00     |null             |02/01/2000 01:25     |null             |REALIZADO   |null                |vra_200001.csv|
|BLC               |8250      |0                 |N                |SBBR                 |SBGO                  |01/01/2000 20:04     |null             |01/01/2000 20:30     |null             |REALIZADO   |null                |vra_200001.csv|
|BLC               |241       |9                 |R                |SBSP                 |SBKP                  |null                 |01/01/2000 22:06 |null                 |01/01/2000 22:45 |REALIZADO   |null                |vra_200001.csv|
|RSL               |7161      |9                 |R                |SBRJ                 |SBCF                  |null                 |01/01/2000 10:46 |null                 |01/01/2000 11:35 |REALIZADO   |null                |vra_200001.csv|
|VRG               |3010      |0                 |N                |SBEG                 |SBBE                  |01/01/2000 06:30     |null             |01/01/2000 08:30     |null             |REALIZADO   |null                |vra_200001.csv|
|BLC               |641       |9                 |R                |SBMO                 |SBNT                  |null                 |01/01/2000 14:50 |null                 |01/01/2000 15:34 |REALIZADO   |null                |vra_200001.csv|
|TAM               |570       |0                 |R                |SBCM                 |SBFL                  |01/01/2000 06:00     |null             |01/01/2000 06:30     |null             |REALIZADO   |null                |vra_200001.csv|
|BLC               |571       |7                 |R                |SBRJ                 |SBKP                  |null                 |01/01/2000 08:23 |null                 |01/01/2000 10:05 |REALIZADO   |null                |vra_200001.csv|
|RSL               |1081      |9                 |R                |SBSP                 |SBPS                  |null                 |01/01/2000 15:26 |null                 |01/01/2000 17:16 |REALIZADO   |null                |vra_200001.csv|
|BLC               |8010      |0                 |N                |SBFZ                 |SBSV                  |01/01/2000 06:20     |null             |01/01/2000 08:00     |null             |CANCELADO   |XA                  |vra_200001.csv|
|TBA               |3200      |0                 |N                |SBRJ                 |SBSP                  |01/01/2000 13:24     |null             |01/01/2000 14:15     |null             |REALIZADO   |null                |vra_200001.csv|
|TAM               |140       |0                 |R                |SBCT                 |SBSP                  |01/01/2000 12:36     |null             |01/01/2000 13:23     |null             |REALIZADO   |null                |vra_200001.csv|
|BLC               |8100      |0                 |N                |SBSV                 |SBRF                  |01/01/2000 22:25     |null             |01/01/2000 23:35     |null             |REALIZADO   |null                |vra_200001.csv|
|TAB               |1270      |0                 |R                |SBTU                 |SNBW                  |01/01/2000 14:55     |null             |01/01/2000 15:20     |null             |REALIZADO   |null                |vra_200001.csv|
|BLC               |8730      |0                 |N                |SBTE                 |SBBR                  |01/01/2000 08:21     |null             |01/01/2000 10:21     |null             |CANCELADO   |XA                  |vra_200001.csv|
|TAB               |1890      |0                 |R                |SWPI                 |SBEG                  |01/01/2000 15:00     |null             |01/01/2000 16:15     |null             |REALIZADO   |null                |vra_200001.csv|
|TAB               |1270      |0                 |R                |SNDC                 |SBMA                  |01/01/2000 12:45     |null             |01/01/2000 13:50     |null             |REALIZADO   |null                |vra_200001.csv|
|TAB               |1630      |0                 |R                |SWJN                 |SWJH                  |01/01/2000 11:10     |null             |01/01/2000 11:40     |null             |REALIZADO   |null                |vra_200001.csv|
|VRG               |891       |9                 |N                |SBFZ                 |SBPA                  |null                 |01/01/2000 22:13 |null                 |02/01/2000 02:48 |REALIZADO   |null                |vra_200001.csv|
+------------------+----------+------------------+-----------------+---------------------+----------------------+---------------------+-----------------+---------------------+-----------------+------------+--------------------+--------------+
only showing top 20 rows