In [1]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("teste").getOrCreate()

In [2]:
df_vra=spark.read.parquet('arquivos/res/vra/vra_final.snappy.parquet')
df_vra.createOrReplaceTempView('vra')

In [3]:
df_aerodromos=spark.read.parquet('arquivos/har/aerodromos/aerodromos.snappy.parquet')
df_aerodromos.createOrReplaceTempView('aerodromos')

In [4]:
df_empresas=spark.read.parquet('arquivos/har/empresas/empresas.snappy.parquet')
df_empresas.createOrReplaceTempView('empresas')

In [5]:
df_vra.show()

+------------------+----------+------------------+-----------------+---------------------+----------------------+---------------------+-----------------+---------------------+-----------------+------------+--------------------+-------+-------+--------------+
|icao_empresa_aerea|numero_voo|codigo_autorizacao|codigo_tipo_linha|icao_aerodromo_origem|icao_aerodromo_destino|data_partida_prevista|data_partida_real|data_chegada_prevista|data_chegada_real|situacao_voo|codigo_justificativa|ano_voo|mes_voo|arquivo_origem|
+------------------+----------+------------------+-----------------+---------------------+----------------------+---------------------+-----------------+---------------------+-----------------+------------+--------------------+-------+-------+--------------+
|               TAM|      4660|                 0|                R|                 SBCX|                  SBCT|     01/01/2000 05:45|             null|     01/01/2000 06:37|             null|   CANCELADO|                  XS|   2000|     01|vra_200001.csv|
|               VRG|      8710|                 0|                I|                 MMMX|                  SBEG|     01/01/2000 19:00|             null|     02/01/2000 01:25|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               BLC|      8250|                 0|                N|                 SBBR|                  SBGO|     01/01/2000 20:04|             null|     01/01/2000 20:30|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               BLC|       241|                 9|                R|                 SBSP|                  SBKP|                 null| 01/01/2000 22:06|                 null| 01/01/2000 22:45|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               RSL|      7161|                 9|                R|                 SBRJ|                  SBCF|                 null| 01/01/2000 10:46|                 null| 01/01/2000 11:35|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               VRG|      3010|                 0|                N|                 SBEG|                  SBBE|     01/01/2000 06:30|             null|     01/01/2000 08:30|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               BLC|       641|                 9|                R|                 SBMO|                  SBNT|                 null| 01/01/2000 14:50|                 null| 01/01/2000 15:34|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               TAM|       570|                 0|                R|                 SBCM|                  SBFL|     01/01/2000 06:00|             null|     01/01/2000 06:30|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               BLC|       571|                 7|                R|                 SBRJ|                  SBKP|                 null| 01/01/2000 08:23|                 null| 01/01/2000 10:05|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               RSL|      1081|                 9|                R|                 SBSP|                  SBPS|                 null| 01/01/2000 15:26|                 null| 01/01/2000 17:16|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               BLC|      8010|                 0|                N|                 SBFZ|                  SBSV|     01/01/2000 06:20|             null|     01/01/2000 08:00|             null|   CANCELADO|                  XA|   2000|     01|vra_200001.csv|
|               TBA|      3200|                 0|                N|                 SBRJ|                  SBSP|     01/01/2000 13:24|             null|     01/01/2000 14:15|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               TAM|       140|                 0|                R|                 SBCT|                  SBSP|     01/01/2000 12:36|             null|     01/01/2000 13:23|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               BLC|      8100|                 0|                N|                 SBSV|                  SBRF|     01/01/2000 22:25|             null|     01/01/2000 23:35|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               TAB|      1270|                 0|                R|                 SBTU|                  SNBW|     01/01/2000 14:55|             null|     01/01/2000 15:20|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               BLC|      8730|                 0|                N|                 SBTE|                  SBBR|     01/01/2000 08:21|             null|     01/01/2000 10:21|             null|   CANCELADO|                  XA|   2000|     01|vra_200001.csv|
|               TAB|      1890|                 0|                R|                 SWPI|                  SBEG|     01/01/2000 15:00|             null|     01/01/2000 16:15|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               TAB|      1270|                 0|                R|                 SNDC|                  SBMA|     01/01/2000 12:45|             null|     01/01/2000 13:50|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               TAB|      1630|                 0|                R|                 SWJN|                  SWJH|     01/01/2000 11:10|             null|     01/01/2000 11:40|             null|   REALIZADO|                null|   2000|     01|vra_200001.csv|
|               VRG|       891|                 9|                N|                 SBFZ|                  SBPA|                 null| 01/01/2000 22:13|                 null| 02/01/2000 02:48|   REALIZADO|                null|   2000|     01|vra_200001.csv|
+------------------+----------+------------------+-----------------+---------------------+----------------------+---------------------+-----------------+---------------------+-----------------+------------+--------------------+-------+-------+--------------+
only showing top 20 rows

In [6]:
df_empresas.show()

+---+--------------------+-------+----+----+------------------+--------------+-----+-----------------+
| id|                nome|apelido|iata|icao|indicativo_chamada|          pais|ativo|__index_level_0__|
+---+--------------------+-------+----+----+------------------+--------------+-----+-----------------+
|  2|         135 Airways|   null|null| GNL|           GENERAL| United States|    N|                0|
|  3|       1Time Airline|   null|  1T| RNX|           NEXTIME|  South Africa|    S|                1|
|  4|2 Sqn No 1 Elemen...|   null|null| WYT|              null|United Kingdom|    N|                2|
|  5|     213 Flight Unit|   null|null| TFU|              null|        Russia|    N|                3|
|  6|223 Flight Unit S...|   null|null| CHD|    CHKALOVSK-AVIA|        Russia|    N|                4|
|  7|   224th Flight Unit|   null|null| TTF|        CARGO UNIT|        Russia|    N|                5|
|  8|         247 Jet Ltd|   null|null| TWF|      CLOUD RUNNER|United Kingdom|    N|                6|
|  9|         3D Aviation|   null|null| SEC|           SECUREX| United States|    N|                7|
| 10|         40-Mile Air|   null|  Q5| MLA|          MILE-AIR| United States|    S|                8|
| 11|              4D Air|   null|null| QRT|           QUARTET|      Thailand|    N|                9|
| 12|611897 Alberta Li...|   null|null| THD|             DONUT|        Canada|    N|               10|
| 13|    Ansett Australia|   null|  AN| AAA|            ANSETT|     Australia|    S|               11|
| 14|Abacus International|   null|  1B|null|              null|     Singapore|    S|               12|
| 15|     Abelag Aviation|   null|  W9| AAB|               ABG|       Belgium|    N|               13|
| 16|      Army Air Corps|   null|null| AAC|           ARMYAIR|United Kingdom|    N|               14|
| 17|Aero Aviation Cen...|   null|null| AAD|           SUNRISE|        Canada|    N|               15|
| 18|Aero Servicios Ej...|   null|null| SII|            ASEISA|        Mexico|    N|               16|
| 19|         Aero Biniza|   null|null| BZS|            BINIZA|        Mexico|    N|               17|
| 20|       Aero Albatros|   null|null| ABM|   ALBATROS ESPANA|         Spain|    N|               18|
| 21|          Aigle Azur|   null|  ZI| AAF|        AIGLE AZUR|        France|    S|               19|
+---+--------------------+-------+----+----+------------------+--------------+-----+-----------------+
only showing top 20 rows

In [7]:
query = (
    ' SELECT ano_voo, mes_voo, icao_empresa_aerea, icao_aerodromo_origem as aerodromo, COUNT(1) as quantidade_voos_total'
    ' FROM vra'
    ' WHERE icao_empresa_aerea IS NOT NULL'
    ' GROUP BY ano_voo, mes_voo, icao_empresa_aerea, icao_aerodromo_origem'
    ' ORDER BY quantidade_voos_total DESC'
)
resultado = spark.sql(query)
resultado.createOrReplaceTempView('voos_por_empresas')
resultado.show()

+-------+-------+------------------+---------+---------------------+
|ano_voo|mes_voo|icao_empresa_aerea|aerodromo|quantidade_voos_total|
+-------+-------+------------------+---------+---------------------+
|   2020|     02|               TAM|     SBGR|                18956|
|   2020|     02|               AZU|     SBKP|                15856|
|   2020|     03|               TAM|     SBGR|                15292|
|   2020|     02|               GLO|     SBGR|                13620|
|   2020|     02|               TAM|     SBSP|                12472|
|   2020|     02|               GLO|     SBSP|                12380|
|   2020|     03|               AZU|     SBKP|                12096|
|   2020|     03|               GLO|     SBGR|                11440|
|   2020|     03|               GLO|     SBSP|                10144|
|   2020|     02|               AZU|     SBCF|                 9940|
|   2020|     03|               TAM|     SBSP|                 9408|
|   2020|     02|               TAM|     SBBR|                 8484|
|   2009|     12|               TAM|     SBGR|                 8060|
|   2020|     02|               GLO|     SBBR|                 7788|
|   2020|     02|               GLO|     SBGL|                 7756|
|   2020|     02|               AZU|     SBRF|                 7740|
|   2020|     03|               AZU|     SBCF|                 7548|
|   2020|     03|               TAM|     SBBR|                 6848|
|   2020|     03|               GLO|     SBBR|                 6648|
|   2020|     02|               AZU|     SBGR|                 6488|
+-------+-------+------------------+---------+---------------------+
only showing top 20 rows

In [8]:
query = (
    ' SELECT ano_voo, mes_voo, icao_empresa_aerea, icao_aerodromo_origem as aerodromo, COUNT(1) as quantidade_voos_cancelados'
    ' FROM vra'
    ' WHERE situacao_voo = "CANCELADO"'
    ' AND icao_empresa_aerea IS NOT NULL'
    ' GROUP BY ano_voo, mes_voo, icao_empresa_aerea, icao_aerodromo_origem'
    ' ORDER BY quantidade_voos_cancelados DESC'
)
resultado = spark.sql(query)
resultado.createOrReplaceTempView('voos_por_empresas_cancelado')
resultado.show()

+-------+-------+------------------+---------+--------------------------+
|ano_voo|mes_voo|icao_empresa_aerea|aerodromo|quantidade_voos_cancelados|
+-------+-------+------------------+---------+--------------------------+
|   2003|     03|               TAM|     SBSP|                      2281|
|   2003|     04|               TAM|     SBSP|                      2241|
|   2003|     01|               TAM|     SBSP|                      2080|
|   2002|     12|               TAM|     SBSP|                      1916|
|   2002|     10|               TAM|     SBSP|                      1801|
|   2003|     02|               TAM|     SBSP|                      1702|
|   2006|     08|               VRG|     SBGR|                      1679|
|   2002|     11|               TAM|     SBSP|                      1624|
|   2006|     07|               VRG|     SBGR|                      1538|
|   2007|     01|               VRN|     SBGR|                      1431|
|   2007|     08|               TAM|     SBSP|                      1362|
|   2006|     07|               VRG|     SBSP|                      1323|
|   2016|     04|               GLO|     SBGR|                      1286|
|   2007|     05|               GLO|     SBSP|                      1285|
|   2018|     01|               AZU|     SBKP|                      1284|
|   2007|     07|               TAM|     SBSP|                      1264|
|   2003|     04|               TAM|     SBBR|                      1256|
|   2003|     03|               TAM|     SBBR|                      1236|
|   2017|     12|               AZU|     SBKP|                      1225|
|   2016|     03|               GLO|     SBGR|                      1198|
+-------+-------+------------------+---------+--------------------------+
only showing top 20 rows

In [9]:
query = (
    ' SELECT voos_por_empresas.ano_voo, voos_por_empresas.mes_voo, voos_por_empresas.icao_empresa_aerea,'
    ' voos_por_empresas.aerodromo as aerodromo, quantidade_voos_total, quantidade_voos_cancelados'
    ' FROM voos_por_empresas'
    ' INNER JOIN voos_por_empresas_cancelado'
    ' ON voos_por_empresas.ano_voo = voos_por_empresas_cancelado.ano_voo'
    ' AND voos_por_empresas.mes_voo = voos_por_empresas_cancelado.mes_voo'
    ' AND voos_por_empresas.icao_empresa_aerea = voos_por_empresas_cancelado.icao_empresa_aerea'
    ' AND voos_por_empresas.aerodromo = voos_por_empresas_cancelado.aerodromo'
)
resultado = spark.sql(query)
resultado.createOrReplaceTempView('voos_por_empresas_totais')
resultado.show()

+-------+-------+------------------+---------+---------------------+--------------------------+
|ano_voo|mes_voo|icao_empresa_aerea|aerodromo|quantidade_voos_total|quantidade_voos_cancelados|
+-------+-------+------------------+---------+---------------------+--------------------------+
|   2000|     01|               AZA|     SBGL|                   12|                         3|
|   2000|     02|               PEP|     SBBE|                  260|                        55|
|   2000|     02|               PEP|     SNMA|                   50|                        50|
|   2000|     04|               AZA|     LIMC|                   32|                         2|
|   2000|     04|               VRG|     LPPT|                   32|                         2|
|   2000|     04|               BLC|     SBVT|                   25|                         1|
|   2000|     04|               NES|     SGES|                    1|                         1|
|   2000|     05|               RSL|     SBRJ|                 1214|                       111|
|   2000|     05|               PTN|     SNMU|                   26|                         4|
|   2000|     05|               RSL|     SBSM|                   29|                         1|
|   2000|     06|               PEP|     SWRP|                   27|                         1|
|   2000|     07|               IBE|     LEMD|                  147|                         5|
|   2000|     07|               TAM|     SBSJ|                  123|                        24|
|   2000|     07|               VRG|     LPPT|                   31|                         1|
|   2000|     08|               VRG|     SBJP|                   72|                         2|
|   2000|     08|               ITB|     SBCA|                  125|                         8|
|   2000|     08|               TBA|     SBPV|                   55|                         8|
|   2000|     08|               TTL|     SBIP|                   54|                        42|
|   2000|     09|               ITB|     SBRJ|                  106|                         3|
|   2000|     09|               VRG|     KMIA|                   89|                        13|
+-------+-------+------------------+---------+---------------------+--------------------------+
only showing top 20 rows

In [18]:
query = (
 ' SELECT ano_voo, mes_voo, icao_empresa_aerea, nome, pais, aerodromo, quantidade_voos_total, quantidade_voos_cancelados'
    ' FROM voos_por_empresas_totais'
    ' INNER JOIN empresas'
    ' ON icao_empresa_aerea = icao'
    ' AND icao IS NOT NULL'
)
resultado = spark.sql(query)
resultado.createOrReplaceTempView('voos_por_empresas_final')
resultado.show()

+-------+-------+------------------+--------------------+-------+---------+---------------------+--------------------------+
|ano_voo|mes_voo|icao_empresa_aerea|                nome|   pais|aerodromo|quantidade_voos_total|quantidade_voos_cancelados|
+-------+-------+------------------+--------------------+-------+---------+---------------------+--------------------------+
|   2000|     01|               AZA|            Alitalia|  Italy|     SBGL|                   12|                         3|
|   2000|     04|               AZA|            Alitalia|  Italy|     LIMC|                   32|                         2|
|   2000|     04|               VRG| Varig Linhas Aereas| Brazil|     LPPT|                   32|                         2|
|   2000|     04|               BLC|          Bellesavia|Belarus|     SBVT|                   25|                         1|
|   2000|     04|               NES|Nordeste Linhas A...| Brazil|     SGES|                    1|                         1|
|   2000|     05|               RSL|       Rio Sul Servi| Brazil|     SBRJ|                 1214|                       111|
|   2000|     05|               PTN|Pantanal Linhas A...| Brazil|     SNMU|                   26|                         4|
|   2000|     05|               RSL|       Rio Sul Servi| Brazil|     SBSM|                   29|                         1|
|   2000|     07|               IBE|     Iberia Airlines|  Spain|     LEMD|                  147|                         5|
|   2000|     07|               TAM|TAM Brazilian Air...| Brazil|     SBSJ|                  123|                        24|
|   2000|     07|               VRG| Varig Linhas Aereas| Brazil|     LPPT|                   31|                         1|
|   2000|     08|               VRG| Varig Linhas Aereas| Brazil|     SBJP|                   72|                         2|
|   2000|     08|               TBA|         Transbrasil| Brazil|     SBPV|                   55|                         8|
|   2000|     08|               TTL| Total Linhas Aereas| Brazil|     SBIP|                   54|                        42|
|   2000|     09|               VRG| Varig Linhas Aereas| Brazil|     KMIA|                   89|                        13|
|   2000|     09|               BLC|          Bellesavia|Belarus|     SBCF|                   90|                        29|
|   2000|     09|               VSP|                VASP| Brazil|     SBIL|                   61|                         2|
|   2000|     12|               CMP|       Copa Airlines| Panama|     MPTO|                   35|                         1|
|   2000|     12|               IBE|     Iberia Airlines|  Spain|     LEMD|                  144|                         3|
|   2001|     01|               VRG| Varig Linhas Aereas| Brazil|     SBJV|                   63|                         1|
+-------+-------+------------------+--------------------+-------+---------+---------------------+--------------------------+
only showing top 20 rows

In [11]:
query = (
    ' SELECT ano_voo, ((SUM(quantidade_voos_cancelados) * 100) / SUM(quantidade_voos_total)) as porcentage_cancelado'
    ' FROM voos_por_empresas_totais'
    ' GROUP BY ano_voo'
    ' ORDER BY porcentage_cancelado DESC'
)
resultado = spark.sql(query)
resultado.show()

+-------+--------------------+
|ano_voo|porcentage_cancelado|
+-------+--------------------+
|   2003|  21.639278987215945|
|   2007|   20.79376927435563|
|   2006|  17.364403453142877|
|   2002|   16.09734708898827|
|   2004|  15.147583127352032|
|   2015|  14.731952647891795|
|   2005|  14.328470374399776|
|   2016|  13.038197913655527|
|   2014|  12.829725685378257|
|   2001|  11.937893464068768|
|   2008|  11.901247245576878|
|   2017|   11.39345551198876|
|   2009|  11.214490003267345|
|   2010|  11.100775102805786|
|   2013|  10.972889880908216|
|   2000|  10.870579110258314|
|   2011|   10.64843629802649|
|   2012|   9.907749499910539|
|   2022|   6.645185073933999|
|   2020|  5.3335354133799955|
+-------+--------------------+
only showing top 20 rows

In [12]:
resultado.describe().show()

+-------+-----------------+--------------------+
|summary|          ano_voo|porcentage_cancelado|
+-------+-----------------+--------------------+
|  count|               23|                  23|
|   mean|           2011.0|  11.737544732449168|
| stddev|6.782329983125314|   4.854355024092584|
|    min|             2000|  2.1767853564112505|
|    max|             2022|  21.639278987215945|
+-------+-----------------+--------------------+

In [13]:
query = (
    ' SELECT ano_voo, SUM(quantidade_voos_total) as quantidade_voos_total, SUM(quantidade_voos_cancelados) as quantidade_voos_cancelados' 
    ' FROM voos_por_empresas_totais'
    ' WHERE ano_voo = 2003'
    ' GROUP BY ano_voo'
)
resultado = spark.sql(query)
resultado.show()

+-------+---------------------+--------------------------+
|ano_voo|quantidade_voos_total|quantidade_voos_cancelados|
+-------+---------------------+--------------------------+
|   2003|               708226|                    153255|
+-------+---------------------+--------------------------+

In [14]:
resultado.describe().show()

+-------+-------+---------------------+--------------------------+
|summary|ano_voo|quantidade_voos_total|quantidade_voos_cancelados|
+-------+-------+---------------------+--------------------------+
|  count|      1|                    1|                         1|
|   mean| 2003.0|             708226.0|                  153255.0|
| stddev|   null|                 null|                      null|
|    min|   2003|               708226|                    153255|
|    max|   2003|               708226|                    153255|
+-------+-------+---------------------+--------------------------+

In [15]:
query = (
    ' SELECT *'
    ' FROM voos_por_empresas_totais'
    ' WHERE icao_empresa_aerea IS NULL'
)
resultado = spark.sql(query)
resultado.show()

+-------+-------+------------------+---------+---------------------+--------------------------+
|ano_voo|mes_voo|icao_empresa_aerea|aerodromo|quantidade_voos_total|quantidade_voos_cancelados|
+-------+-------+------------------+---------+---------------------+--------------------------+
+-------+-------+------------------+---------+---------------------+--------------------------+

In [16]:
query = (
    ' SELECT *'
    ' FROM empresas'
    ' WHERE icao IS NULL'
)
resultado = spark.sql(query)
resultado.show()

+----+--------------------+-------+----+----+-------------------+--------------------+-----+-----------------+
|  id|                nome|apelido|iata|icao| indicativo_chamada|                pais|ativo|__index_level_0__|
+----+--------------------+-------+----+----+-------------------+--------------------+-----+-----------------+
|  14|Abacus International|   null|  1B|null|               null|           Singapore|    S|               12|
|  66|Advance Leasing C...|   null|  4G|null|               null|       United States|    N|               64|
|  67|Aztec Worldwide A...|   null|  7A|null|               null|       United States|    N|               65|
|  68|           Air Tindi|   null|  8T|null|               null|Canadian Territories|    S|               66|
| 146|          Air Salone|   null|  2O|null|               null|        Sierra Leone|    S|              144|
| 299|          Air Libert|   null|  VD|null|               null|              France|    S|              297|
| 312|         Air Sicilia|   null|  BM|null|               null|               Italy|    S|              310|
| 663|             Airshop|   null|  FF|null|               null|         Netherlands|    N|              661|
| 664|African Transport...|   null|  ML|null|               null|               Sudan|    N|              662|
|1107|    Aeroland Airways|   null|  3S|null|               null|              Greece|    N|             1105|
|1109|              Astair|   null|  8D|null|               null|  Russian Federation|    S|             1106|
|1405|Bringer Air Cargo...|   null|  E6|null|               null|              Brazil|    N|             1402|
|1406|Balkan Bulgarian ...|   null|  LZ|null|               null|                null|    S|             1403|
|1407|          BA Connect|   null|  TH|null|               null|      United Kingdom|    N|             1404|
|1516|          BAX Global|   null|  8W|null|               null|                null|    N|             1513|
|1814|         Coastal Air|   null|  DQ|null|U.S. Virgin Islands|       United States|    S|             1811|
|1883| Continental Express|   null|  CO|null|            JETLINK|       United States|    S|             1880|
|1943|Cyprus Turkish Ai...|   null|  YK|null|               null|              Turkey|    S|             1940|
|2021|       Deutsche Bahn|   null|  2A|null|               null|             Germany|    S|             2018|
|2079|Electronic Data S...|   null|  1C|null|               null|         Switzerland|    N|             2076|
+----+--------------------+-------+----+----+-------------------+--------------------+-----+-----------------+
only showing top 20 rows

In [45]:
query = (
    ' WITH ano_empresa as ('
    ' SELECT ano_voo, icao_empresa_aerea, SUM(quantidade_voos_total) as quantidade_voos_total, SUM(quantidade_voos_cancelados) as quantidade_voos_cancelados'
    ' FROM voos_por_empresas_final'
    ' WHERE icao_empresa_aerea IN ("TAM", "GLO", "AZU")'
    ' GROUP BY ano_voo, icao_empresa_aerea'
    ')'
    'SELECT ano_voo, icao_empresa_aerea, nome, quantidade_voos_total, quantidade_voos_cancelados, '
    '  ((quantidade_voos_cancelados * 100) / quantidade_voos_total) as porcentage_cancelado'
    ' FROM ano_empresa'
    ' INNER JOIN empresas'
    ' ON icao = icao_empresa_aerea'
    ' ORDER BY ano_voo ASC'
)
resultado = spark.sql(query)
resultado.show()

+-------+------------------+--------------------+---------------------+--------------------------+--------------------+
|ano_voo|icao_empresa_aerea|                nome|quantidade_voos_total|quantidade_voos_cancelados|porcentage_cancelado|
+-------+------------------+--------------------+---------------------+--------------------------+--------------------+
|   2000|               TAM|TAM Brazilian Air...|               120430|                      9044|   7.509756705139916|
|   2001|               GLO|Gol Transportes A...|                23898|                      2141|   8.958908695288308|
|   2001|               TAM|TAM Brazilian Air...|               250234|                     22378|   8.942829511577164|
|   2002|               GLO|Gol Transportes A...|                53331|                      4306|   8.074103242016838|
|   2002|               TAM|TAM Brazilian Air...|               281836|                     51760|   18.36529045260364|
|   2003|               TAM|TAM Brazilian Air...|               211446|                     67713|  32.023779120910305|
|   2003|               GLO|Gol Transportes A...|                81238|                      9120|  11.226273418843398|
|   2004|               TAM|TAM Brazilian Air...|               157952|                     13662|   8.649463128038898|
|   2004|               GLO|Gol Transportes A...|                92577|                      7568|   8.174816639122028|
|   2005|               GLO|Gol Transportes A...|               127443|                     12072|   9.472470045432075|
|   2005|               TAM|TAM Brazilian Air...|               212344|                     17575|   8.276664280601288|
|   2006|               TAM|TAM Brazilian Air...|               247103|                     19849|   8.032682727445641|
|   2006|               GLO|Gol Transportes A...|               172447|                     14115|   8.185123545205194|
|   2007|               GLO|Gol Transportes A...|               235838|                     33344|  14.138518813761989|
|   2007|               TAM|TAM Brazilian Air...|               290342|                     41526|  14.302443325457563|
|   2008|               GLO|Gol Transportes A...|               222120|                     15217|   6.850801368629569|
|   2008|               TAM|TAM Brazilian Air...|               269480|                     12172|   4.516847261392311|
|   2009|               GLO|Gol Transportes A...|               277338|                     23041|   8.307913088000923|
|   2009|               TAM|TAM Brazilian Air...|               293166|                     13156|    4.48755994897089|
|   2009|               AZU|                Azul|                19429|                       234|  1.2043851973853519|
+-------+------------------+--------------------+---------------------+--------------------------+--------------------+
only showing top 20 rows

In [50]:
cancelamento_ano_empresa = resultado.toPandas()

In [51]:
cancelamento_ano_empresa_tam = cancelamento_ano_empresa[cancelamento_ano_empresa['icao_empresa_aerea'] == 'TAM']

,ano_voo,icao_empresa_aerea,nome,quantidade_voos_total,quantidade_voos_cancelados,porcentage_cancelado
0,2000,TAM,TAM Brazilian Airlines,120430,9044,7.509757
1,2001,TAM,TAM Brazilian Airlines,250234,22378,8.942830
4,2002,TAM,TAM Brazilian Airlines,281836,51760,18.365290
6,2003,TAM,TAM Brazilian Airlines,211446,67713,32.023779
8,2004,TAM,TAM Brazilian Airlines,157952,13662,8.649463
10,2005,TAM,TAM Brazilian Airlines,212344,17575,8.276664
11,2006,TAM,TAM Brazilian Airlines,247103,19849,8.032683
13,2007,TAM,TAM Brazilian Airlines,290342,41526,14.302443
16,2008,TAM,TAM Brazilian Airlines,269480,12172,4.516847
18,2009,TAM,TAM Brazilian Airlines,293166,13156,4.487560
21,2010,TAM,TAM Brazilian Airlines,309328,17507,5.659688
25,2011,TAM,TAM Brazilian Airlines,320358,22427,7.000606
26,2012,TAM,TAM Brazilian Airlines,302403,14326,4.737387
31,2013,TAM,TAM Brazilian Airlines,285989,17265,6.036945
33,2014,TAM,TAM Brazilian Airlines,245780,22161,9.016600
36,2015,TAM,TAM Brazilian Airlines,279773,22732,8.125159
39,2016,TAM,TAM Brazilian Airlines,245851,17708,7.202737
43,2017,TAM,TAM Brazilian Airlines,233657,13620,5.829057
45,2018,TAM,TAM Brazilian Airlines,210731,3828,1.816534
49,2019,TAM,TAM Brazilian Airlines,225783,2179,0.965086
51,2020,TAM,TAM Brazilian Airlines,63800,928,1.454545
53,2021,TAM,TAM Brazilian Airlines,120024,1297,1.080617
56,2022,TAM,TAM Brazilian Airlines,90545,1446,1.596996

In [54]:
cancelamento_ano_empresa_gol = cancelamento_ano_empresa[cancelamento_ano_empresa['icao_empresa_aerea'] == 'GLO']
cancelamento_ano_empresa_gol

,ano_voo,icao_empresa_aerea,nome,quantidade_voos_total,quantidade_voos_cancelados,porcentage_cancelado
2,2001,GLO,Gol Transportes Aéreos,23898,2141,8.958909
3,2002,GLO,Gol Transportes Aéreos,53331,4306,8.074103
5,2003,GLO,Gol Transportes Aéreos,81238,9120,11.226273
7,2004,GLO,Gol Transportes Aéreos,92577,7568,8.174817
9,2005,GLO,Gol Transportes Aéreos,127443,12072,9.472470
12,2006,GLO,Gol Transportes Aéreos,172447,14115,8.185124
14,2007,GLO,Gol Transportes Aéreos,235838,33344,14.138519
15,2008,GLO,Gol Transportes Aéreos,222120,15217,6.850801
17,2009,GLO,Gol Transportes Aéreos,277338,23041,8.307913
20,2010,GLO,Gol Transportes Aéreos,315639,23766,7.529488
24,2011,GLO,Gol Transportes Aéreos,327262,21093,6.445295
28,2012,GLO,Gol Transportes Aéreos,316974,21452,6.767748
29,2013,GLO,Gol Transportes Aéreos,338215,27447,8.115252
34,2014,GLO,Gol Transportes Aéreos,288653,29230,10.126345
35,2015,GLO,Gol Transportes Aéreos,377704,64280,17.018618
40,2016,GLO,Gol Transportes Aéreos,301552,46544,15.434817
41,2017,GLO,Gol Transportes Aéreos,262388,16956,6.462186
44,2018,GLO,Gol Transportes Aéreos,239832,8387,3.497031
48,2019,GLO,Gol Transportes Aéreos,241717,3976,1.644899
50,2020,GLO,Gol Transportes Aéreos,80093,1665,2.078833
54,2021,GLO,Gol Transportes Aéreos,121977,3324,2.725104
57,2022,GLO,Gol Transportes Aéreos,84556,1211,1.432187

In [58]:
cancelamento_ano_empresa_azul = cancelamento_ano_empresa[cancelamento_ano_empresa['icao_empresa_aerea'] == 'AZU']
cancelamento_ano_empresa_azul

,ano_voo,icao_empresa_aerea,nome,quantidade_voos_total,quantidade_voos_cancelados,porcentage_cancelado
19,2009,AZU,Azul,19429,234,1.204385
22,2010,AZU,Azul,46329,1516,3.272248
23,2011,AZU,Azul,94024,5232,5.564537
27,2012,AZU,Azul,140747,11241,7.986671
30,2013,AZU,Azul,187997,15199,8.084703
32,2014,AZU,Azul,266790,34163,12.805203
37,2015,AZU,Azul,322863,47506,14.713981
38,2016,AZU,Azul,290249,34692,11.952496
42,2017,AZU,Azul,306340,50189,16.383430
46,2018,AZU,Azul,269507,19944,7.400179
47,2019,AZU,Azul,285223,6410,2.247364
52,2020,AZU,Azul,103226,3134,3.036057
55,2021,AZU,Azul,215442,5529,2.566352
58,2022,AZU,Azul,133230,6273,4.708399

In [36]:
query = (
    ' SELECT icao_empresa_aerea, SUM(quantidade_voos_total) as quantidade_voos_total'
    ' FROM voos_por_empresas_final'
    ' GROUP BY icao_empresa_aerea'
    ' ORDER BY quantidade_voos_total DESC '
    ' LIMIT 20'
)
resultado = spark.sql(query)
resultado.show()

+------------------+---------------------+
|icao_empresa_aerea|quantidade_voos_total|
+------------------+---------------------+
|               TAM|              5268355|
|               GLO|              4582792|
|               AZU|              2681396|
|               VRG|              1041727|
|               ONE|               774534|
|               TIB|               696783|
|               VSP|               423191|
|               RSL|               374665|
|               PTB|               291144|
|               WEB|               199934|
|               PTN|               191044|
|               VRN|               172930|
|               NES|               166955|
|               TTL|               163303|
|               AAL|               141711|
|               ARG|               130122|
|               TUS|               102037|
|               TBA|                89994|
|               TAP|                88728|
|               BLC|                86032|
+------------------+---------------------+